@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 105px;
    font-weight: bold;
}

h2{
    font-size: 44px;
    padding-bottom: 100px;
}

h3{
    color: forestgreen;
    font-size: 24px;
}

p {
    line-height: 1.5;
    margin-top: 24px;
    max-width: 81ch;
    margin-left: auto;
    margin-right: 200px;
    font-size: 20px;
}

h4{
    font-size: 97px;
    font-weight: bold;
    padding-left: 100px;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-left: 100px;
}

blockquote {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 200px;
    margin-right: 300px;
    color: forestgreen;
}

header {
    padding-left: 100px;
    margin-bottom: 300px;
    margin-top: 300px;
    padding-left: 100px;
}

main {
    padding-bottom: 100px;
}